public/counter2019_08_06_12_08_45.txt
public/counter2019_08_06_12_08_50.txt
public/counter.txt
config/config.php
vendor/psr/log/Psr/Log/Test/TestLogger.php
composer.lock
Logs/mylog.log
public/testLog.php
vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/LICENSE
vendor/monolog/monolog/.php_cs
vendor/monolog/monolog/CHANGELOG.md
vendor/monolog/monolog/composer.json
vendor/monolog/monolog/LICENSE
vendor/monolog/monolog/phpunit.xml.dist
vendor/monolog/monolog/README.md
vendor/monolog/monolog/doc/01-usage.md
vendor/monolog/monolog/doc/02-handlers-formatters-processors.md
vendor/monolog/monolog/doc/03-utilities.md
vendor/monolog/monolog/doc/04-extending.md
vendor/monolog/monolog/doc/sockets.md
vendor/monolog/monolog/src/Monolog/ErrorHandler.php
vendor/monolog/monolog/src/Monolog/Logger.php
vendor/monolog/monolog/src/Monolog/Registry.php
vendor/monolog/monolog/src/Monolog/ResettableInterface.php
vendor/monolog/monolog/src/Monolog/SignalHandler.php
vendor/monolog/monolog/src/Monolog/Utils.php
vendor/monolog/monolog/src/Monolog/Formatter/ChromePHPFormatter.php
vendor/monolog/monolog/src/Monolog/Formatter/ElasticaFormatter.php
vendor/monolog/monolog/src/Monolog/Formatter/FlowdockFormatter.php
vendor/monolog/monolog/src/Monolog/Formatter/FluentdFormatter.php
vendor/monolog/monolog/src/Monolog/Formatter/FormatterInterface.php
vendor/monolog/monolog/src/Monolog/Formatter/GelfMessageFormatter.php
vendor/monolog/monolog/src/Monolog/Formatter/HtmlFormatter.php
vendor/monolog/monolog/src/Monolog/Formatter/JsonFormatter.php
vendor/monolog/monolog/src/Monolog/Formatter/LineFormatter.php
vendor/monolog/monolog/src/Monolog/Formatter/LogglyFormatter.php
vendor/monolog/monolog/src/Monolog/Formatter/LogstashFormatter.php
vendor/monolog/monolog/src/Monolog/Formatter/MongoDBFormatter.php
vendor/monolog/monolog/src/Monolog/Formatter/NormalizerFormatter.php
vendor/monolog/monolog/src/Monolog/Formatter/ScalarFormatter.php
vendor/monolog/monolog/src/Monolog/Formatter/WildfireFormatter.php
vendor/monolog/monolog/src/Monolog/Handler/AbstractHandler.php
vendor/monolog/monolog/src/Monolog/Handler/AbstractProcessingHandler.php
vendor/monolog/monolog/src/Monolog/Handler/AbstractSyslogHandler.php
vendor/monolog/monolog/src/Monolog/Handler/AmqpHandler.php
vendor/monolog/monolog/src/Monolog/Handler/BrowserConsoleHandler.php
vendor/monolog/monolog/src/Monolog/Handler/BufferHandler.php
vendor/monolog/monolog/src/Monolog/Handler/ChromePHPHandler.php
vendor/monolog/monolog/src/Monolog/Handler/CouchDBHandler.php
vendor/monolog/monolog/src/Monolog/Handler/CubeHandler.php
vendor/monolog/monolog/src/Monolog/Handler/DeduplicationHandler.php
vendor/monolog/monolog/src/Monolog/Handler/DoctrineCouchDBHandler.php
vendor/monolog/monolog/src/Monolog/Handler/DynamoDbHandler.php
vendor/monolog/monolog/src/Monolog/Handler/ElasticSearchHandler.php
vendor/monolog/monolog/src/Monolog/Handler/ErrorLogHandler.php
vendor/monolog/monolog/src/Monolog/Handler/FilterHandler.php
vendor/monolog/monolog/src/Monolog/Handler/FingersCrossedHandler.php
vendor/monolog/monolog/src/Monolog/Handler/FirePHPHandler.php
vendor/monolog/monolog/src/Monolog/Handler/FleepHookHandler.php
vendor/monolog/monolog/src/Monolog/Handler/FlowdockHandler.php
vendor/monolog/monolog/src/Monolog/Handler/GelfHandler.php
vendor/monolog/monolog/src/Monolog/Handler/GroupHandler.php
vendor/monolog/monolog/src/Monolog/Handler/HandlerInterface.php
vendor/monolog/monolog/src/Monolog/Handler/HandlerWrapper.php
vendor/monolog/monolog/src/Monolog/Handler/HipChatHandler.php
vendor/monolog/monolog/src/Monolog/Handler/IFTTTHandler.php
vendor/monolog/monolog/src/Monolog/Handler/InsightOpsHandler.php
vendor/monolog/monolog/src/Monolog/Handler/LogEntriesHandler.php
vendor/monolog/monolog/src/Monolog/Handler/LogglyHandler.php
vendor/monolog/monolog/src/Monolog/Handler/MailHandler.php
vendor/monolog/monolog/src/Monolog/Handler/MandrillHandler.php
vendor/monolog/monolog/src/Monolog/Handler/MissingExtensionException.php
vendor/monolog/monolog/src/Monolog/Handler/MongoDBHandler.php
vendor/monolog/monolog/src/Monolog/Handler/NativeMailerHandler.php
vendor/monolog/monolog/src/Monolog/Handler/NewRelicHandler.php
vendor/monolog/monolog/src/Monolog/Handler/NullHandler.php
vendor/monolog/monolog/src/Monolog/Handler/PHPConsoleHandler.php
vendor/monolog/monolog/src/Monolog/Handler/PsrHandler.php
vendor/monolog/monolog/src/Monolog/Handler/PushoverHandler.php
vendor/monolog/monolog/src/Monolog/Handler/RavenHandler.php
vendor/monolog/monolog/src/Monolog/Handler/RedisHandler.php
vendor/monolog/monolog/src/Monolog/Handler/RollbarHandler.php
vendor/monolog/monolog/src/Monolog/Handler/RotatingFileHandler.php
vendor/monolog/monolog/src/Monolog/Handler/SamplingHandler.php
vendor/monolog/monolog/src/Monolog/Handler/SlackbotHandler.php
vendor/monolog/monolog/src/Monolog/Handler/SlackHandler.php
vendor/monolog/monolog/src/Monolog/Handler/SlackWebhookHandler.php
vendor/monolog/monolog/src/Monolog/Handler/SocketHandler.php
vendor/monolog/monolog/src/Monolog/Handler/StreamHandler.php
vendor/monolog/monolog/src/Monolog/Handler/SwiftMailerHandler.php
vendor/monolog/monolog/src/Monolog/Handler/SyslogHandler.php
vendor/monolog/monolog/src/Monolog/Handler/SyslogUdpHandler.php
vendor/monolog/monolog/src/Monolog/Handler/TestHandler.php
vendor/monolog/monolog/src/Monolog/Handler/WhatFailureGroupHandler.php
vendor/monolog/monolog/src/Monolog/Handler/ZendMonitorHandler.php
vendor/monolog/monolog/src/Monolog/Handler/Curl/Util.php
vendor/monolog/monolog/src/Monolog/Handler/FingersCrossed/ActivationStrategyInterface.php
vendor/monolog/monolog/src/Monolog/Handler/FingersCrossed/ChannelLevelActivationStrategy.php
vendor/monolog/monolog/src/Monolog/Handler/FingersCrossed/ErrorLevelActivationStrategy.php
vendor/monolog/monolog/src/Monolog/Handler/Slack/SlackRecord.php
vendor/monolog/monolog/src/Monolog/Handler/SyslogUdp/UdpSocket.php
vendor/monolog/monolog/src/Monolog/Processor/GitProcessor.php
vendor/monolog/monolog/src/Monolog/Processor/IntrospectionProcessor.php
vendor/monolog/monolog/src/Monolog/Processor/MemoryPeakUsageProcessor.php
vendor/monolog/monolog/src/Monolog/Processor/MemoryProcessor.php
vendor/monolog/monolog/src/Monolog/Processor/MemoryUsageProcessor.php
vendor/monolog/monolog/src/Monolog/Processor/MercurialProcessor.php
vendor/monolog/monolog/src/Monolog/Processor/ProcessIdProcessor.php
vendor/monolog/monolog/src/Monolog/Processor/ProcessorInterface.php
vendor/monolog/monolog/src/Monolog/Processor/PsrLogMessageProcessor.php
vendor/monolog/monolog/src/Monolog/Processor/TagProcessor.php
vendor/monolog/monolog/src/Monolog/Processor/UidProcessor.php
vendor/monolog/monolog/src/Monolog/Processor/WebProcessor.php
vendor/monolog/monolog/tests/Monolog/ErrorHandlerTest.php
vendor/monolog/monolog/tests/Monolog/LoggerTest.php
vendor/monolog/monolog/tests/Monolog/PsrLogCompatTest.php
vendor/monolog/monolog/tests/Monolog/RegistryTest.php
vendor/monolog/monolog/tests/Monolog/SignalHandlerTest.php
vendor/monolog/monolog/tests/Monolog/TestCase.php
vendor/monolog/monolog/tests/Monolog/Formatter/ChromePHPFormatterTest.php
vendor/monolog/monolog/tests/Monolog/Formatter/ElasticaFormatterTest.php
vendor/monolog/monolog/tests/Monolog/Formatter/FlowdockFormatterTest.php
vendor/monolog/monolog/tests/Monolog/Formatter/FluentdFormatterTest.php
vendor/monolog/monolog/tests/Monolog/Formatter/GelfMessageFormatterTest.php
vendor/monolog/monolog/tests/Monolog/Formatter/JsonFormatterTest.php
vendor/monolog/monolog/tests/Monolog/Formatter/LineFormatterTest.php
vendor/monolog/monolog/tests/Monolog/Formatter/LogglyFormatterTest.php
vendor/monolog/monolog/tests/Monolog/Formatter/LogstashFormatterTest.php
vendor/monolog/monolog/tests/Monolog/Formatter/MongoDBFormatterTest.php
vendor/monolog/monolog/tests/Monolog/Formatter/NormalizerFormatterTest.php
vendor/monolog/monolog/tests/Monolog/Formatter/ScalarFormatterTest.php
vendor/monolog/monolog/tests/Monolog/Formatter/WildfireFormatterTest.php
vendor/monolog/monolog/tests/Monolog/Handler/AbstractHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/AbstractProcessingHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/AmqpHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/BrowserConsoleHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/BufferHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/ChromePHPHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/CouchDBHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/DeduplicationHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/DoctrineCouchDBHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/DynamoDbHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/ElasticSearchHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/ErrorLogHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/FilterHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/FingersCrossedHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/FirePHPHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/FleepHookHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/FlowdockHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/GelfHandlerLegacyTest.php
vendor/monolog/monolog/tests/Monolog/Handler/GelfHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/GelfMockMessagePublisher.php
vendor/monolog/monolog/tests/Monolog/Handler/GroupHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/HandlerWrapperTest.php
vendor/monolog/monolog/tests/Monolog/Handler/HipChatHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/InsightOpsHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/LogEntriesHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/MailHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/MockRavenClient.php
vendor/monolog/monolog/tests/Monolog/Handler/MongoDBHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/NativeMailerHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/NewRelicHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/NullHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/PHPConsoleHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/PsrHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/PushoverHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/RavenHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/RedisHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/RollbarHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/RotatingFileHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/SamplingHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/SlackbotHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/SlackHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/SlackWebhookHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/SocketHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/StreamHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/SwiftMailerHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/SyslogHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/SyslogUdpHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/TestHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/UdpSocketTest.php
vendor/monolog/monolog/tests/Monolog/Handler/WhatFailureGroupHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/ZendMonitorHandlerTest.php
vendor/monolog/monolog/tests/Monolog/Handler/Fixtures/.gitkeep
vendor/monolog/monolog/tests/Monolog/Handler/Slack/SlackRecordTest.php
vendor/monolog/monolog/tests/Monolog/Processor/GitProcessorTest.php
vendor/monolog/monolog/tests/Monolog/Processor/IntrospectionProcessorTest.php
vendor/monolog/monolog/tests/Monolog/Processor/MemoryPeakUsageProcessorTest.php
vendor/monolog/monolog/tests/Monolog/Processor/MemoryUsageProcessorTest.php
vendor/monolog/monolog/tests/Monolog/Processor/MercurialProcessorTest.php
vendor/monolog/monolog/tests/Monolog/Processor/ProcessIdProcessorTest.php
vendor/monolog/monolog/tests/Monolog/Processor/PsrLogMessageProcessorTest.php
vendor/monolog/monolog/tests/Monolog/Processor/TagProcessorTest.php
vendor/monolog/monolog/tests/Monolog/Processor/UidProcessorTest.php
vendor/monolog/monolog/tests/Monolog/Processor/WebProcessorTest.php
vendor/psr/log/.gitignore
vendor/psr/log/composer.json
vendor/psr/log/LICENSE
vendor/psr/log/README.md
vendor/psr/log/Psr/Log/AbstractLogger.php
vendor/psr/log/Psr/Log/InvalidArgumentException.php
vendor/psr/log/Psr/Log/LoggerAwareInterface.php
vendor/psr/log/Psr/Log/LoggerAwareTrait.php
vendor/psr/log/Psr/Log/LoggerInterface.php
vendor/psr/log/Psr/Log/LoggerTrait.php
vendor/psr/log/Psr/Log/LogLevel.php
vendor/psr/log/Psr/Log/NullLogger.php
vendor/psr/log/Psr/Log/Test/LoggerInterfaceTest.php
